PORT=5000

# MongoDB
MONGO_URI=mongodb://localhost:27017/mydb

# PostgreSQL
POSTGRES_URI=postgresql://user:password@localhost:5432/mydb

# Match keys used in utils/sendEmail.js
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password_or_smtp_password
FROM_EMAIL=your_email@gmail.com

# Auth & Frontend URLs //may need to delete these two and place in frontend 
JWT_SECRET=your_super_secret_jwt_key_here
CLIENT_URL=http://localhost:3000