:root {
  --color-neutral-50: #f4faf8;
  --color-neutral-100: #e3ece9;
  --color-neutral-200: #cedcd8;
  --color-neutral-300: #b4c7c2;
  --color-neutral-400: #91a9a3;
  --color-neutral-500: #6a847e;
  --color-neutral-600: #4e6660;
  --color-neutral-700: #263e39;
  --color-neutral-800: #061e19;
}